<!-- <header class="header">
  <div class="header-container">
    <h1 class="site-name">🏠 PRINCE P R</h1>
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item"><a href="#home">Home</a></li>
        <li class="nav-item"><a href="#about">About</a></li>
        <li class="nav-item"><a href="#services">Services</a></li>
        <li class="nav-item"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header> -->

<app-default-pie></app-default-pie>

<br />

<app-donut-chart></app-donut-chart>

<br />

<app-bar-chart></app-bar-chart>

<!-- <app-wellbeing-analyzer></app-wellbeing-analyzer> -->

<!-- <app-live-location></app-live-location> -->

<!-- <app-map></app-map> -->

<!-- <app-emergency-reporting></app-emergency-reporting>
<app-dialog></app-dialog>
<app-signup></app-signup> -->

<!-- <app-links></app-links> -->

<!-- <app-chat></app-chat> -->

<!-- <app-test></app-test> -->

<!-- <app-login> </app-login>

<app-forgotpass></app-forgotpass> -->

<!-- <app-reactive></app-reactive>

<app-formbuilder></app-formbuilder>

<app-create-user></app-create-user>

<app-user-list></app-user-list>

<app-delete-user></app-delete-user>

<app-update-user></app-update-user>

<app-token></app-token>

<app-lifecycle [title]="title">
  (This is Demonstrating after content init)</app-lifecycle
>  -->

<!-- <footer class="footer">
  <p>&copy; 2024 Prince P R. All rights reserved.</p>
</footer> -->
