<main>
  <h2 class="heading1">User Management</h2>
  <br />
  <div class="user-list">
    <div class="user-item">
      <h3>John Doe</h3>
      <p>Email: john.doe"&#64;"example.com</p>
      <p>Role: Admin</p>
      <div class="buttonalign">
        <button class="action-button">Edit</button>
        <button class="action-button">Delete</button>
      </div>
    </div>
    <div class="user-item">
      <h3>Jane Smith</h3>
      <p>Email: jane.smith"&#64;"example.com</p>
      <p>Role: User</p>
      <div class="buttonalign">
        <button class="action-button">Edit</button>
        <button class="action-button">Delete</button>
      </div>
    </div>
    <div class="user-item">
      <h3>Michael Brown</h3>
      <p>Email: michael.brown"&#64;"example.com</p>
      <p>Role: Moderator</p>
      <div class="buttonalign">
        <button class="action-button">Edit</button>
        <button class="action-button">Delete</button>
      </div>
    </div>
  </div>
</main>
